/* Estilos gerais */
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
}

/* Estilos para o cabeçalho */
header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo {
    width: 150px;
    height: auto;
}

nav {
    width: 60%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    font-family: "Kdam Thmor Pro", sans-serif;
}

li:hover {
    color: yellow;
}

/* Estilos para a página de comentários */

/* Estilos para o formulário de comentários */
.comment-form {
    max-width: 600px;
    margin: 0 auto; /* Centraliza o formulário na página */
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.comment-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.comment-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.comment-form input[type="text"],
.comment-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.comment-form textarea {
    resize: vertical; /* Permite que o usuário redimensione verticalmente */
}

.comment-form button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.comment-form button:hover {
    background-color: #555;
}

/* Estilos para a seção de comentários */
.comments {
    max-width: 800px;
    margin: 20px auto; /* Centraliza a seção de comentários */
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.comments h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.comments ul {
    list-style: none;
    padding: 0;
}

.comments li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #000000;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comments li strong {
    font-weight: bold;
}

footer {
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

spam {
    color: #fff;
    font-family: "Kdam Thmor Pro", sans-serif;
}

.footer-navigation {
    display: none;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 768px){
    .footer-navigation {
        display: block;
    }

    nav {
        display: none;
    }
}